
        body {
            font-family: "Dancing Script", cursive;
            text-align: center;
            background-color: #fde2e4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        p {
            font-family: "Dancing Script", cursive;
            font-size: 18px;
            background-color: #f8edeb;
            padding: 20px;
            border-radius: 10px;
            width: 60%;
        }
        button {
            font-family: "Dancing Script", cursive;
            font-size: 16px;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #ffcad4;
            color: #6d6875;
        }
        button:hover {
            background-color: #fec5bb;
        }